---
layout: default
title: Home
---
<div class="inner">
    <p>Software has the power to change the world, period.</p>

    <p>For years, we have been expending our time building accounting systems, CRM platforms and social media sites.</p>

    <p>Worthwhile causes, but do they add value to humanity?</p>

    <p>We would quickly jump from one project to the next, utilising the full force of the gig economy.</p>

    <p>But is that really the optimal way to manage a project, to manage a relationship.</p>

    <p>What if we focused, instead, on software that can make a difference.</p>

    <p>Software that has direct, positive impact on the lives of it’s users.</p>

    <p>Hi, I’m James Eastham.</p>
</div>